id: "base"
env:
  result_dir: 'results'
  random_seed: 0
  epochs: 30
metrics:
  goal_metric: 'F1'
  save_metrics:
    Accuracy: {num_classes: 37, average: 'macro'}
    Precision: {num_classes: 37, average: 'macro'}
    Recall: {num_classes: 37, average: 'macro'}
    F1: {num_classes: 37, average: 'macro'}
data:
  name: "traffic_signs"
  params:
    dataset_path: '/home/albert/data/R-jpg'

    batch_size: 256
    input_size: [64, 64]
    input_channels: 3
    num_classes: 37

    transforms: [['ColorJitter', [.1, .1, .1, .1]],  # it must be a list to make sure to preserve the order
                 ['RandomResizedCrop', [[32, 32]]],
                 ['Resize', [[32, 32]]],
                 ['ToTensor', []],
                 ['Normalize', [[0.485, 0.456, 0.406], [0.229, 0.224, 0.225]]]]

    gpu_to_use: 0
    workers: 4
    load_into_memory: false
    train_val_split: [0.8, 0.2]
model:
  name: "resnet18"
  params:
    num_classes: 37
    pretrained: true
loss:
  name: 'FocalLoss'
  params:
    weight: null
optimizer:
  name: 'Adam'
  params:
    lr: 0.001
    weight_decay: 0.0001
lr_policy:
  name: 'ReduceLROnPlateau'
  params:
#    gamma: 0.99
    mode: 'max'
    patience: 5